* {
    selected-text:	{{color2}};
    selected-background: {{color3}};

    prompt-text: {{color2}};
    prompt-background: transparent;

    normal-text: {{foreground}};
    normal-background: transparent;

    window-border: {{color3}};
    window-background: {{color0}}F5;

    scrollbar-filled: {{color3}};
    scrollbar-empty: {{color2}};

    error-message: {{color7}};
    error-message-border: {{color15}};
}
